.default {
    height: 8px;
    margin-bottom: 24px;
    position: relative;
}
.image {
    width: 80px !important;
    height: 80px;
    margin-bottom: 10px;
    margin-top: -50px;
}

.commonLine {
    width: 80%;
    height: 24px;
}
.lastLine {
    width: 80%;
    height: 24px;
    margin-bottom: 80px;
}