.animated,
.no-animation {
  position: relative;
}
.animated,
.no-animation {
  position: relative;

  margin-bottom: 6px;
  background: #f6f7f8;
}

@keyframes move {
  0% {
    background-position: -470px 0;
  }

  100% {
    background-position: 470px 0;
  }
}

.animated {
  animation-name: move;
}
